.about-section{
  display: flex;
}

.about-section-paragraph{
  width: clamp(100px, 600px, 80vw);
  text-align: justify;
}

.about-section .section__content{
  align-items: center;
  flex-wrap: wrap;
}

.about-section__title{
  text-align: right;
}